<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/log-in" method="post">
      <label for="username">User Name</label>
      <input type="text" name="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" required>
      <button >Login</button>
      <a href="/sign-up">Sign Up</a>
    </form>
  </body>
</html>
